---
import BaseLayout_ from 'src/layouts/base.astro';
---

<BaseLayout_ title="Thanks">
	<header>
		<h1>Thanks for your order!</h1>

		<p>
			<a href=".">Back to home</a>
		</p>
	</header>
</BaseLayout_>
