---
import 'src/css/index.scss';
import * as Const from 'src/js/const';

import { getProps } from 'src/js/astro';

const { props, rest } = getProps(Astro.props, {
	title: '',
});

const isProd = Boolean(import.meta.env.PROD);

const title = (props.title ? `${props.title} | ` : ``) + Const.companyName;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title set:html={title}></title>

		{ isProd &&
			<base href="/" />
			<script src="/js/tracking.js"></script>
		}

		<script src="src/js/index"></script>
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MVK7M6P"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<nav class="navbar">
			<a href="." set:html={Const.companyName}></a>

			<span class="navbar__spacer"></span>

			<a href="cart">
				Cart
				<output
					data-cart-counter
					title="Number of items in your cart"
				></output>
			</a>
		</nav>

		<main>
			<slot />
		</main>

		<footer class="footbar">
			&copy;2023 {Const.companyName}
		</footer>
	</body>
</html>
